<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Oh Dear Settings</title>
        <title lang="de-DE">Oh Dear Einstellungen</title>

        <input-field type="text">
            <name>ohDearSecret</name>
            <label>OhDear Secret</label>
            <label lang="de-DE">OhDear Secret</label>
        </input-field>
    </card>
</config>
